@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

// Primary color
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);

// Neutral Color
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);

$font-size: 16px;
$font-family: 'Commissioner', sans-serif;

%card {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  background-color: #fff;
}

%button {
  border-radius: 50px;
  background-color: $dark-cyan;
  color: #fff;
  border: none;
}